<%= stylesheet_link_tag "watch_lists" %>
<div id="programs-wrapper">
    <% @programs.each do |p, idx| %>
      <div class="program">
        <div class="title">
          <h3><%= p.title %></h3>
          <p class="vote">p.vote</p>
        </div>
        <div class="details">
          <% @options = build_options(p.details) %>
          <%= select_tag 'selected', options_for_select(@options), { :class=> "detail-select" } %>
          <div class="watch-button" onClick="toggleWatchBtn(this)"data=<%= @user.name %>>
            <span class="no-watched-text">投票する</span>
            <span class="watched-text" style="display:none"></span>
          </div>
        </div>
      </div>
    <% end %>
</div>
