<h3><%= @user.name %></h3>
<ul>
	<% @seasons.each do |s| %>
		<li><%= link_to s.value, "/watch_lists/#{s}" %></li>
	<% end %>
	<% unless @seasons.any?{|season| season.current == true } %>
		<li><%= link_to '今期のウォッチリスト作成', new_user_watch_list_path(:user_name => @user.name) %></li>
	<% end %>
</ul>

